//FONTS
$heading-text: 'Lora', serif;
$heading-color: #3c3c3c;

$body-text: 'Josefin Sans', sans-serif;
$body-size: 1.6rem;
$body-color:#6f6f6f;

$button-text: 'Josefin Sans', sans-serif;
$button-weight: 900;
//colors
$beige: #E1DAD5;
$button-color: #B0926C;

//margins & paddings
$button-padding: 1.2rem 3.5rem;
