.hero {
  height: 100vh;
  background-color: #f9f9f9;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/hero.jpeg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5; }
  .hero__heading {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white; }
    .hero__heading--primary {
      font-size: 10rem;
      font-family: "Lora", serif;
      font-weight: 700; }
    .hero__heading--secondary {
      font-size: 3rem;
      letter-spacing: .7rem;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1.5; }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5; }

.overlap-section {
  position: relative;
  background-color: #F6F4F1;
  margin-top: -5rem; }
  .overlap-section .reservation {
    z-index: 5;
    position: relative; }
    .overlap-section .reservation__text {
      flex: 1;
      background-color: #fff;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .overlap-section .reservation__text > * {
        margin: 1rem 0; }
      .overlap-section .reservation__text--heading {
        font-family: "Lora", serif;
        font-size: 2.5rem;
        color: #3A3A3A; }
      .overlap-section .reservation__text--paragraph {
        font-size: 1.6rem;
        color: #6f6f6f;
        font-family: "Josefin Sans", sans-serif; }
      .overlap-section .reservation__text--button {
        color: #B0926C;
        border: 2px solid #B0926C;
        background-color: transparent;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 1.2rem 3.6rem;
        text-transform: uppercase;
        cursor: pointer; }
    .overlap-section .reservation__pic {
      flex: 3;
      background-color: blue;
      padding: 3rem; }

.about {
  z-index: 5;
  position: relative; }
  .about__text {
    flex: 3;
    background-color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .about__text > * {
      margin: 1rem 0; }
    .about__text--heading {
      font-family: "Lora", serif;
      font-size: 2.5rem;
      color: #3A3A3A; }
    .about__text--paragraph {
      font-size: 1.6rem;
      color: #6f6f6f; }
  .about__pic {
    flex: 1;
    background-color: blue;
    padding: 3rem; }

.about, .reservation {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  height: 30rem; }

.specialties {
  background: red;
  height: 75vh;
  position: relative;
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .specialties .heading-bold {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5;
    color: white; }
