.hero {
  height: 100vh;
  background-color: #f9f9f9;
  background: url("../img/hero2.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5; }
  .hero__heading {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white; }
    .hero__heading--primary {
      font-size: 10rem;
      font-family: "Lora", serif;
      font-weight: 700; }
    .hero__heading .heading--secondary {
      font-size: 3rem;
      letter-spacing: .7rem;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1.5; }

@media only screen and (max-width: 500px) {
  .hero {
    height: 70vh; }
    .hero .hero__heading--primary {
      line-height: .75;
      margin-bottom: 2rem; }
    .hero .heading--secondary {
      font-weight: 300;
      line-height: 1.5; } }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

.modal__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem; }

.body__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #6f6f6f; }

.heading--primary {
  font-family: "Lora", serif;
  color: #3c3c3c; }

.heading--secondary, .modal__heading {
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif; }

.food--heading {
  font-weight: 900;
  color: #3C3C3C;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }

.price {
  color: #BBA07F;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900; }

.overlap-section {
  position: relative;
  background-color: #F6F4F1;
  margin-top: -5rem; }
  .overlap-section .reservation {
    z-index: 5;
    position: relative; }
    .overlap-section .reservation__text {
      width: 30%;
      background-color: #fff;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .overlap-section .reservation__text > * {
        margin: 1rem 0; }
      .overlap-section .reservation__text--heading {
        font-size: 3rem; }
      .overlap-section .reservation__text--button {
        color: #B0926C;
        border: 2px solid #B0926C;
        background-color: transparent;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 1.2rem 3.6rem;
        text-transform: uppercase;
        cursor: pointer; }
    .overlap-section .reservation__pic {
      width: 70%;
      background: url("../img/about-pic-1.jpg");
      background-size: cover; }

.about {
  z-index: 5;
  position: relative; }
  .about__text {
    width: 70%;
    background-color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .about__text > * {
      margin: 1rem 0; }
    .about__text--heading {
      font-size: 3rem; }
  .about__pic {
    width: 30%;
    background: url("../img/about-pic-2.jpg");
    background-size: cover; }

.about, .reservation {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  height: 30rem; }

@media only screen and (max-width: 500px) {
  .overlap-section {
    margin-top: 0; }
    .overlap-section .about, .overlap-section .reservation {
      display: block;
      width: auto;
      height: auto; }
    .overlap-section .about__text, .overlap-section .reservation__text {
      width: 100%; }
    .overlap-section .reservation__pic {
      display: none !important; } }

.modal {
  height: 100vh;
  width: 100vw;
  background: red;
  position: fixed;
  z-index: 1000; }

.divider {
  background: url("../img/divider-1.jpg") center center;
  background-size: cover;
  height: 85vh;
  position: relative;
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .divider .heading--secondary {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1.5;
    color: white; }

.menu-section {
  position: relative;
  background-color: #F6F4F1; }

.menu__row--1, .menu__row--2 {
  display: flex;
  justify-content: center;
  z-index: 5;
  position: relative;
  background-color: white; }

div[class^="menu__row"] div[class^="menu__text"] {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: white;
  width: 300px;
  height: 300px; }
  div[class^="menu__row"] div[class^="menu__text"] > * {
    margin: 1rem 0; }
  div[class^="menu__row"] div[class^="menu__text"] .food--heading {
    font-size: 2rem; }
  div[class^="menu__row"] div[class^="menu__text"] .menu__price {
    font-size: 1.6rem; }

.menu__row--1 > * {
  margin-top: -50px; }

.menu__row--2 > * {
  margin-bottom: -50px; }

@media only screen and (max-width: 500px) {
  .menu-section {
    margin-top: -5rem;
    padding: 0 3rem; }
  div[class^="menu__row"] {
    display: block;
    width: auto;
    height: auto; }
    div[class^="menu__row"] > * {
      margin: 0; }
    div[class^="menu__row"] div[class^="menu__text"] {
      width: 100%;
      padding: 5rem 0; }
    div[class^="menu__row"] div[class^="menu__pic"] img {
      width: 100%; }
  .menu__row--1 {
    display: flex !important;
    flex-direction: column-reverse; } }

.menus-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0; }
  .menus-list .menus__list ul {
    display: flex;
    flex-direction: column; }
    .menus-list .menus__list ul li {
      list-style: none;
      display: flex;
      align-items: flex-end;
      margin: 2rem; }
      .menus-list .menus__list ul li .food--text .food--heading {
        font-size: 1.5rem;
        margin-bottom: 1rem; }
      .menus-list .menus__list ul li .food--price {
        margin-left: 2rem;
        align-self: center; }
        .menus-list .menus__list ul li .food--price .price--cursive {
          font-size: 2.5rem;
          font-style: italic; }
  .menus-list .menus__list .entree {
    display: flex;
    flex-direction: row; }
    .menus-list .menus__list .entree .col-left {
      width: 50rem;
      padding: 1rem; }
    .menus-list .menus__list .entree .col-right {
      width: 50rem;
      padding: 1rem; }

.heading--primary {
  font-size: 5rem; }

.heading--faded {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #D3D3D3;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 7rem 0 5rem 0; }

@media only screen and (max-width: 500px) {
  .entree {
    display: block !important; }
  .col-left, .col-right {
    width: auto !important; }
  .food--price {
    margin-left: 0rem !important; }
  ul li {
    margin: 0 !important;
    padding: 1rem .5rem; } }
