.overlap-section {
  position:relative;
  background-color:#F6F4F1;
  margin-top:-5rem;
  
  .reservation {
    z-index:5;
    position:relative;
    &__text {
      flex:1;
      background-color:#fff;
      padding:3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align:center;
      & > * {
        margin:1rem 0;
      }
      &--heading {
        font-family: $heading-text;
        font-size:$heading-size-about;
        color:$heading-color;
      }
      &--paragraph {
        font-size:$body-size;
        color:$body-color;
        font-family:$body-text;
      }
      &--button {
        color: $button-color;
        border:2px solid $button-color;
        background-color:transparent;
        font-weight:$button-weight;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding:1.2rem 3.6rem;
        text-transform:uppercase;
      }
    }
    &__pic {
      flex:3;
      background-color:blue;
      padding:3rem;
    }
  }
}

.about {
  &__text {
    flex:3;
    background-color:#fff;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    & > * {
      margin:1rem 0;
    }
    &--heading {
      font-family: $heading-text;
      font-size:$heading-size-about;
      color:$heading-color;
    }
    &--paragraph {
      font-size:$body-size;
      color:$body-color;
    }
  }
  &__pic {
    flex:1;
    background-color:blue;
    padding:3rem;
  }
}


.about, .reservation {
  display:flex;
  width:70vw;
  margin:0 auto;
  height:30rem;
}
