.divider {
  background:red;
  height:85vh;
  position:relative;
  margin-top:-5rem;
  display:flex;
  justify-content: center;
  align-items:center;
  z-index:1;
  .heading--secondary {
    font-size:4rem;
    text-transform:uppercase;
    letter-spacing: 1.5;
    color:white;
  }
}
