.menus-list {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  padding:7rem 0;
  .menus__list {
    ul {
      display:flex;
      flex-direction:column;
      li {
        list-style:none;
        display:flex;
        align-items: flex-end;
        margin:2rem;
        .food--text {
          .food--heading {
            font-size:1.5rem;
            margin-bottom:1rem;
          }
        }
        .food--price {
          margin-left:2rem;
          align-self:center;
          .price--cursive {
            font-size:2.5rem;
            font-style:italic;
          }
        }
      }
    }
    .entree {
      display:flex;
      flex-direction: row;
      .col-left {
        width:50rem;
        padding:1rem;
      }
      .col-right {
        width:50rem;
        padding:1rem;
      }
    }
  }
}
.heading--primary {
  font-size:5rem;
}

.heading--faded {
  text-align:center;
  font-family:$body-text;
  color:#D3D3D3;
  font-weight:900;
  font-size:2rem;
  text-transform: uppercase;
  margin:7rem 0 5rem 0;
}

@media only screen and (max-width: 500px) {
    .entree {
      display:block !important;
    }
    .col-left, .col-right {
      width:auto !important;
    }
    .food--price {
      margin-left:0rem !important;
    }
    ul li {
      margin:0 !important;
      padding:1rem .5rem;
    }
    // .body__text {
    //   width:50px;
    // }
}
